@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.text-play {
  font-family: "Play", sans-serif;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

.heading-line {
    @apply font-semibold uppercase tracking-[.25em]
         leading-[2.5rem] md:leading-[3rem] xl:leading-[4.5rem];
         letter-spacing: normal !important;
  }
}
